<link rel="import" href="../bower_components/polymer/polymer.html">

<link rel="import" href="../bower_components/app-layout/app-layout.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-menu/paper-menu.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">

<link rel="import" href="light-remocon/light-remocon.html">
<link rel="import" href="tv-remocon/tv-remocon.html">
<link rel="import" href="tv-remocon/tv-rec-remocon.html">

<dom-module id="x-app">
  <template>
    
    <style>
    app-toolbar {
      background-color: #4285f4;
      color: #fff;
    }
    </style>

    <app-scrollpos-control selected="{{page}}"></app-scrollpos-control>

    <app-drawer-layout>

      <app-drawer drawer-toggle>
	<paper-menu selected="{{page}}" on-tap="closeDrawer">
	  <paper-item>Home</paper-item>
	  <paper-item>Light</paper-item>
	  <paper-item>TV</paper-item>
	  <paper-item>TV (rec)</paper-item>
	</paper-menu>
      </app-drawer>

      <app-toolbar>
	<paper-icon-button icon="menu" drawer-toggle></paper-icon-button>
	<div title>IR remote</div>
	<paper-icon-button icon="search"></paper-icon-button>
      </app-toolbar>

      <iron-pages selected="{{page}}">
	<div>Home</div>
	<light-remocon selected></light-remocon>
	<tv-remocon></tv-remocon>
	<tv-rec-remocon></tv-rec-remocon>
      </iron-pages>

    </app-drawer-layout>

  </template>
  <script>
  Polymer({
    is: 'x-app',
    properties: {
      page: {
	type: Number,
	value: 2 // tv
      }
    },
    closeDrawer: function () {
      document.querySelector("app-drawer").resetLayout();
    }
  });
  </script>
</dom-module>
